*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a
{
    color: blue;
    text-decoration: none;
}
body
{
 background-color: rgb(34, 34, 34);
 color: rgba(126, 57, 191, 0.792);
 font-family: "cabin", sans-serif;
 font-weight: 600;
}
header
{
    border: 0px solid;
    padding: 2rem;
    background-color:rgba(0, 0, 0, 0.919);
    text-align: center;
}
header p
{
    font-family: initial;
}
main
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: rgba(21, 21, 21, 0.836);
}
main img
{
    width: 15rem;
}
main figure
{
    align-self: center;
}
main iframe
{
    display: block;
    margin: 0 auto;
}
main h2
{
    align-self: center;
}
main p {
    align-self: center;
    font-family: initial;
    font-weight: 1000;
}
section
{   
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h2
{
    font-size: 1.25rem;
    color: #cfcfcf;
}
button:hover
{
    background-color: rgb(187, 127, 255);
    transform: scale(1.008);
}
button:active {
    transform: scale(0.98);
}
section input[type="radio"],[type="checkbox"]
{
    accent-color: rgba(255, 255, 255, 0.151);
}
section input[type="text"],[type="password"],[type="date"],[type="email"]
{
    width: 100%;
    padding: 0.6rem;
    border: 2px solid rgba(23, 23, 127, 0.797);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}
section input:focus-visible {
  background-color: rgb(238, 237, 236);
}
section select
{
   width: 100%;
   cursor: pointer;
}
table
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th
{
    background-color: rgb(34, 34, 34);
    color: white;
}
tbody
{
    background:linear-gradient(to bottom,red,blue)
}
tfoot
{
    background-color: rgb(4, 0, 255);
    text-align: center;
}
td
{
    color: rgba(0, 0, 0, 0.693);
}
details ol
{
    margin-left: 1.8rem;
    color:#cfcfcf;;
}
details li
{
    margin: 1rem;
}
summary
{
    cursor: pointer;
    margin: 1rem;
}
fieldset
{
    border: 2px solid rgba(126, 57, 191, 0.792);
    background-color: rgba(247, 247, 247, 0);
    padding: 1rem;
}
fieldset legend
{
    color: #cfcfcf;
    padding: 0 7px;
}
fieldset textarea
{
    border-radius: 0.5rem;
    border: 2px solid rgba(23, 23, 127, 0.797);
}
button
{
    background-color: #cfcfcf;
    border: none;
    padding: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
}
footer
{
    text-align: center;
    padding: 0.7rem;
}
.checkbox
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}
.arquivo
{
    display: flex;
    margin: 0 auto;
}
